---
layout: base.njk
---
<h1>{{ name }}</h1>
<p>{{ type }} | {{ status }}</p>

{% if image %}
<figure class="content-image">
  <img src="/images/locations/{{ image }}" alt="{{ name }}">
</figure>
{% endif %}

{{ content | safe }}

{% if parent %}
{% set parentLoc = collections.locations | find(parent) %}
{% if parentLoc %}
<section>
  <h2>Parent Location</h2>
  <ul>
    <li><a href="{{ parentLoc.url }}">{{ parentLoc.data.name }}</a></li>
  </ul>
</section>
{% endif %}
{% endif %}

{% set childLocs = collections.locations | whereField("parent", page.fileSlug) %}
{% if childLocs.length %}
<section>
  <h2>Sub-locations</h2>
  <ul>
    {% for loc in childLocs %}
    <li><a href="{{ loc.url }}">{{ loc.data.name }}</a></li>
    {% endfor %}
  </ul>
</section>
{% endif %}

{% set locFactions = collections.factions | findAll(factions) %}
{% if locFactions.length %}
<section>
  <h2>Factions</h2>
  <ul>
    {% for faction in locFactions %}
    <li><a href="{{ faction.url }}">{{ faction.data.name }}</a></li>
    {% endfor %}
  </ul>
</section>
{% endif %}

{% set locNpcs = collections.npcs | whereField("location", page.fileSlug) %}
{% if locNpcs.length %}
<section>
  <h2>NPCs</h2>
  <ul>
    {% for npc in locNpcs %}
    <li><a href="{{ npc.url }}">{{ npc.data.name }}</a></li>
    {% endfor %}
  </ul>
</section>
{% endif %}

{% set locSessions = collections.sessions | mentionedIn("locations", page.fileSlug) %}
{% if locSessions.length %}
<section>
  <h2>Sessions</h2>
  <ul>
    {% for session in locSessions %}
    <li><a href="{{ session.url }}">{{ session.data.title }}</a></li>
    {% endfor %}
  </ul>
</section>
{% endif %}
