---
layout: base.njk
---
<h1>{{ title }}</h1>

<aside class="infobox">
  <div class="infobox-header">Rumor</div>
  <table>
    <tr><th>Source</th><td>{{ source }}</td></tr>
    <tr><th>Status</th><td><span class="tag">{{ status }}</span></td></tr>
  </table>
  {% set rumorLocs = collections.locations | findAll(locations) %}
  {% if rumorLocs.length %}
  <div class="infobox-section">Locations</div>
  <ul>
    {% for loc in rumorLocs %}
    <li><a href="{{ loc.url }}">{{ loc.data.name }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}
  {% set rumorNpcs = collections.npcs | findAll(npcs) %}
  {% if rumorNpcs.length %}
  <div class="infobox-section">NPCs</div>
  <ul>
    {% for npc in rumorNpcs %}
    <li><a href="{{ npc.url }}">{{ npc.data.name }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}
  {% set rumorFactions = collections.factions | findAll(factions) %}
  {% if rumorFactions.length %}
  <div class="infobox-section">Factions</div>
  <ul>
    {% for faction in rumorFactions %}
    <li><a href="{{ faction.url }}">{{ faction.data.name }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}
</aside>

{{ content | safe }}
