---
layout: base.njk
---
<h1>{{ name }}</h1>
<p>{{ status }}</p>

{{ content | safe }}

{% set storylineSessions = collections.sessions | mentionedIn("storylines", page.fileSlug) %}
{% if storylineSessions.length %}
<section>
  <h2>Sessions</h2>
  <ul>
    {% for session in storylineSessions %}
    <li><a href="{{ session.url }}">{{ session.data.title }}</a> ({{ session.data.date }})</li>
    {% endfor %}
  </ul>
</section>
{% endif %}

{% set storylineFactions = collections.factions | findAll(factions) %}
{% if storylineFactions.length %}
<section>
  <h2>Factions</h2>
  <ul>
    {% for faction in storylineFactions %}
    <li><a href="{{ faction.url }}">{{ faction.data.name }}</a></li>
    {% endfor %}
  </ul>
</section>
{% endif %}

{% set storylineLocs = collections.locations | findAll(locations) %}
{% if storylineLocs.length %}
<section>
  <h2>Locations</h2>
  <ul>
    {% for loc in storylineLocs %}
    <li><a href="{{ loc.url }}">{{ loc.data.name }}</a></li>
    {% endfor %}
  </ul>
</section>
{% endif %}
