---
layout: base.njk
title: Items
permalink: /items/
---
<h1>Items</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Type</th>
      <th>Rarity</th>
      <th>Owner</th>
    </tr>
  </thead>
  <tbody>
    {% for item in collections.items | sortBy('name') %}
    {% set itemOwner = collections.characters | find(item.data.owner) %}
    <tr>
      <td class="table-thumb">{% if item.data.image %}<img src="/images/items/{{ item.data.image }}" alt="">{% endif %}</td>
      <td><a href="{{ item.url }}">{{ item.data.name }}</a></td>
      <td>{{ item.data.type }}</td>
      <td><span class="tag">{{ item.data.rarity }}</span></td>
      <td>{% if itemOwner %}<a href="{{ itemOwner.url }}">{{ itemOwner.data.name }}</a>{% else %}—{% endif %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
