---
pagination:
  data: collections.creatures
  size: 1
  alias: creature
permalink: /creatures/{{ creature.fileSlug }}.txt
eleventyExcludeFromCollections: true
---
# {{ creature.data.name }}

{% if creature.data.type %}Type: {{ creature.data.type }}{% endif %}

{{ creature | rawMarkdown }}
