---
pagination:
  data: collections.documents
  size: 1
  alias: doc
permalink: /documents/{{ doc.fileSlug }}.txt
eleventyExcludeFromCollections: true
---
# {{ doc.data.title }}

{% if doc.data.type %}Type: {{ doc.data.type }}{% endif %}
{% if doc.data.author %}Author: {{ doc.data.author }}{% endif %}
{% if doc.data.date %}Date: {{ doc.data.date }}{% endif %}

{{ doc | rawMarkdown }}
