---
pagination:
  data: collections.items
  size: 1
  alias: item
permalink: /items/{{ item.fileSlug }}.txt
eleventyExcludeFromCollections: true
---
# {{ item.data.name }}

{% if item.data.type %}Type: {{ item.data.type }}{% endif %}
{% if item.data.rarity %}Rarity: {{ item.data.rarity }}{% endif %}
{% if item.data.owner %}Owner: {{ item.data.owner }}{% endif %}

{{ item | rawMarkdown }}
