---
permalink: /locations.txt
eleventyExcludeFromCollections: true
---
# Locations

{% for loc in collections.locations | sortBy("name") %}
- {{ loc.data.name }}{% if loc.data.type %} ({{ loc.data.type }}){% endif %}
  /locations/{{ loc.fileSlug }}.txt
{% endfor %}
