---
pagination:
  data: collections.locations
  size: 1
  alias: loc
permalink: /locations/{{ loc.fileSlug }}.txt
eleventyExcludeFromCollections: true
---
# {{ loc.data.name }}

{% if loc.data.type %}Type: {{ loc.data.type }}{% endif %}
{% if loc.data.region %}Region: {{ loc.data.region }}{% endif %}

{{ loc | rawMarkdown }}
