---
pagination:
  data: collections.npcs
  size: 1
  alias: npc
permalink: /npcs/{{ npc.fileSlug }}.txt
eleventyExcludeFromCollections: true
---
# {{ npc.data.name }}

{% if npc.data.role %}Role: {{ npc.data.role }}{% endif %}
{% if npc.data.location %}Location: {{ npc.data.location }}{% endif %}
{% if npc.data.faction %}Faction: {{ npc.data.faction }}{% endif %}

{{ npc | rawMarkdown }}
