---
pagination:
  data: collections.rumors
  size: 1
  alias: rumor
permalink: /rumors/{{ rumor.fileSlug }}.txt
eleventyExcludeFromCollections: true
---
# {{ rumor.data.name }}

Status: {{ rumor.data.status }}
{% if rumor.data.source %}Source: {{ rumor.data.source }}{% endif %}

{{ rumor | rawMarkdown }}
