---
permalink: /storylines.txt
eleventyExcludeFromCollections: true
---
# Storylines

{% for storyline in collections.storylines | sortBy("name") %}
- {{ storyline.data.name }} [{{ storyline.data.status }}]
  /storylines/{{ storyline.fileSlug }}.txt
{% endfor %}
