---
pagination:
  data: collections.storylines
  size: 1
  alias: storyline
permalink: /storylines/{{ storyline.fileSlug }}.txt
eleventyExcludeFromCollections: true
---
# {{ storyline.data.name }}

Status: {{ storyline.data.status }}

{{ storyline | rawMarkdown }}
