---
layout: base.njk
title: NPCs
permalink: /npcs/
---
<h1>NPCs</h1>
<ul>
{% for npc in collections.npcs %}
  <li>
    <a href="{{ npc.url }}">{{ npc.data.name }}</a>
    ({{ npc.data.disposition }}{% if not npc.data.alive %}, Deceased{% endif %})
  </li>
{% endfor %}
</ul>
