---
layout: base.njk
title: Characters
permalink: /characters/
---
<h1>Characters</h1>
<ul>
{% for char in collections.characters %}
  <li>
    <a href="{{ char.url }}">{{ char.data.name }}</a>
    ({{ char.data.class }}, Level {{ char.data.level }}, {{ char.data.status }})
  </li>
{% endfor %}
</ul>
